{% extends 'layout.html' %}
{% block container %}

<div class="bg-neutral-primary-soft flex justify-center items-center w-screen h-96">
    <div
        class="block max-w-sm p-6 px-12 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
        <h5 class="text-xl font-semibold tracking-tight text-heading leading-8">Nombre</h5>
        <p class="text-body mb-3">{{ alumno.nombre }}</p>
        <h5 class="text-xl font-semibold tracking-tight text-heading leading-8">Apellido paterno</h5>
        <p class="text-body mb-3">{{ alumno.apaterno }}</p>
        <h5 class="text-xl font-semibold tracking-tight text-heading leading-8">Correo Electronico</h5>
        <p class="text-body mb-3">{{ alumno.email }}</p>

        <a href="/"
            class="w-full block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 cursor-pointer text-center">
            Regresar
        </a>
    </div>
</div>

{% endblock %}